<div class="d-flex">
  <div class="profile-links">
    <%= link_to "Edit profile", users_path, class: "single-link" %>
    <%= link_to "History", users_path, class: "single-link"  %>
    <%= link_to "Create offer", offer_new_path, class: "single-link" %>
    <%= link_to "Orders", orders_path, class: "single-link" %>
  </div>

  <div class="container">
    <h2>Your orders</h2>
    <% current_user.offers.each do |offer| %>
      <% offer.orders.each do |order| %>

        <div class="d-flex">
          <%= cl_image_tag order.offer.photo.key, height: 200, width: 300, crop: :fill %>
          <div>
            <h2>
            <%= order.user.first_name %>
            <%= order.user.last_name %>
            wants to buy
            <%= order.offer.meal_name %>
            </h2>

            <%= link_to "Confirm", orders_confirmed_path, data: { turbo_method: "post" }, :class => "btn btn-success ml-3" %>
            <%= link_to "Cancel", orders_canceled_path, data: { turbo_method: "post" }, :class => "btn btn-danger ml-3" %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

</div>
