<div class="container">
  <%= simple_form_for @offer do |f| %>
    <%= f.input :meal_name %>
    <%= f.input :meal_description %>
    <%= f.input :portions %>
    <%= f.input :price %>
    <%= f.input :available_at %>
    <%= f.input :photo, as: :file %>
    <%= f.button :submit %>
  <% end %>
</div>
